# Mac OS X Finder
.DS_Store

# Xcode legacy
Hoodie_src/*.mode1
Hoodie_src/*.mode1v3
Hoodie_src/*.mode2v3
Hoodie_src/*.perspective
Hoodie_src/*.perspectivev3
Hoodie_src/*.pbxuser

# Xcode
Hoodie_src/xcuserdata/
Hoodie_src/project.xcworkspace/
Hoodie_src/DerivedData/

# build products
Hoodie_src/build/
Hoodie_src/*.[oa]

# automatic backup files
Hoodie_src/*~.nib
Hoodie_src/*.swp
Hoodie_src/*~
Hoodie_src/*(Autosaved).rtfd/
Hoodie_src/Backup[ ]of[ ]*.pages/
Hoodie_src/Backup[ ]of[ ]*.key/
Hoodie_src/Backup[ ]of[ ]*.numbers/


# Cocoapods
Hoodie_src/Pods/
Hoodie_src/Podfile.lock

# Copy Files
Report/Copy
Report/Images